{% extends 'navbar.html' %}
{% block content %}
<form METHOD="post">
    {% csrf_token %}
<table align="center">
<tr>
    <td>Book_Name:</td>
    <td><input type="text" name="txtname" value="{{ data.Book_Name }}"></td>
</tr>
 <tr>
    <td>Author_Name :</td>
    <td><input type="text" name="txtauthor" value="{{ data.Author_Name }}"></td>
</tr>
<tr>
    <td>Course_id :</td>
    <td>
        <select name="ddlcourse">
            <option selected>{{ data.Course_id }}</option>
            {% for i in Course_Data %}
                <option>{{ i.Course_Name }}</option>
            {% endfor %}
        </select>
    </td>
</tr>
<tr>
<td><input type="submit" name="btmsubmit" value="Register"></td>
</tr>
</table>
{% endblock %}

























<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<h3 align="center"> Add student Data </h3>-->

<!--</body>-->
<!--</html>-->